@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap");

.meeting-card {
  margin-top: 35px;
  width: 800px;
  border: 1px solid lightgray;
  border-radius: 16px;
  text-align: left;
  padding: 10px;
  margin-right: 10px;
}

.meeting-card-image {
  
}

.title-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-meetingcard {
  font-family: Roboto, sans-serif;
  font-weight: 0;
  font-size: 14px;
  color: #fff;
  background-color: #0066cc;
  padding: 10px 30px;
  border: 2px solid #0066cc;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transition: 1000ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: auto;
}

.btn-meetingcard:hover {
  transition: 1000ms;
  padding: 10px 50px;
  transform: translateY(-0px);
  background-color: #fff;
  color: #0066cc;
  border: solid 2px #0066cc;
}

.meet-desc {
  font-size: 15px;
}
